body {
  background: #d7edeb;
}

.App .container {
  max-width: 800px;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 150px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}

.Dictionary section {
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.025);
  margin: 20px;
  padding: 30px;
}

.Dictionary input {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 14px;
  width: 100%;
}

.Results h2 {
  font-size: 35px;
  font-weight: bold;
}

.Results h4 {
  color: #a0a0a3;
  font-size: 16px;
}

.Meaning h3 {
  color: #fe4565;
  font-size: 20px;
  font-weight: bold;
}

.Meaning .definition {
  margin: 15px 0 0;
}

.Meaning .example {
  color: #a0a0a3;
}

.Meaning .synonyms {
  margin: 15px 0 0;
}
